<h1>New userrole</h1>

<% form_for(@userrole) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :create_role %><br />
    <%= f.check_box :create_role %>
  </p>
  <p>
    <%= f.label :delete_role %><br />
    <%= f.check_box :delete_role %>
  </p>
  <p>
    <%= f.label :view_role %><br />
    <%= f.check_box :view_role %>
  </p>
  <p>
    <%= f.label :edit_role %><br />
    <%= f.check_box :edit_role %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back',userrole_path %>